<section id="about" class="about-section">
  <div class="about-content">
    <p class="para-1">
      At Grootz, we support a community of over 500 students across India, committed to fulfilling their educational aspirations. As academic pressure has intensified, finding a clear path to success has become challenging for many students. Our dedicated tutors step in to provide essential guidance, offering a roadmap for a smoother educational journey. We assist students with their academic curriculum by fostering logical understanding, critical thinking, and encouraging them to reach their full potential. Our services focus on delivering high-quality study materials, comprehensive notes, engaging classes, and overall guidance to ensure effective tutorship and student satisfaction.
    </p>
    <p class="para-2">
      We, at Grootz, are carrying lamps of guidance to help our students out of this constant contemplation about career prospects and opportunities. Our experts guide the students about the various career paths available for them according to their interest and domain. We tend to provide the best and most useful career counselling for willing students and help them take the right path for their future endeavors.
    </p>
  </div>
</section>
