<section id="blog" class="blog-section">
    <div class="blog-content">
      
    </div>
  </section>
  <style>
    .blog-section {
    background: url("/images/blog.png");
    background-size: cover;
    color: #000;
    width: 100%;
    min-height: 120vh;
    display: flex;
    align-items: center;
  }
  </style>
  