<%- include('base', { content: `
<div class="hero">
        <div class="hero-content">
          <h1 class="slide-in-right">GROW YOUR ROOTS WITH GROOTZ</h1>
          <div class="p slide-in-right">
            <p>
              We, at Grootz, have a community of about 500+ students from all over
              India, who have entrusted their hopes on us and we are dedicated to meet
              all their expectations.
            </p>
          </div>
          <a href="#" class="cta-button slide-in-right">Let's Connect <span class="arrow">&#10095;</span></a>
        </div>
      </div>
` }) %>
